<h1>All User-Book Associations</h1>

<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% end %>

<%= link_to "Add New UserBook", new_user_book_path %>

<table border="1" cellpadding="5">
  <tr>
    <th>User</th>
    <th>Book</th>
    <th>Actions</th>
  </tr>

  <% @user_books.each do |ub| %>
    <tr>
      <td><%= ub.user.username %></td>
      <td><%= ub.book.title %></td>
      <td>
        <%= link_to "Show", user_book_path(ub) %> |
        <%= link_to "Edit", edit_user_book_path(ub) %> |
        <%= link_to "Delete", user_book_path(ub), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Books", books_path %> |
<%= link_to "Users", users_path %>

